body {
    font-family: "Poppins", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

img {
    width: 30rem;
    border-radius: 20px 20px 0px;
}

a {
    color: green;
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    transition: 0.5s;
}

a:hover{
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}